header{
    background: #7b8b6f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
}
label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
}
ul.nav_links{
    list-style-type: none;
    padding-left: 0;
}

.nav_links a{
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    text-decoration: none;
    color: black;
}

.nav_links a:visited{
    border: 1px solid #96a48b;
}

h1 {
    padding-left:30px ;
    padding-right: 30px;
    text-align: center;
}
#recipe{
    background: #f8ebd8;
    border: 2px solid #965454;
}

.recipe{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(9, 1fr);
    row-gap: 10px;
    text-align: center;
}
img{
    border: 10px solid #96a48b;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
}
.baozaifan{
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    /* align-self: center;
    align-items: center; */
}
.hanshidunniugu{
    grid-column: 1/span 2;
    grid-row: 2/span 1;
}
.kaolongxia{
    grid-column: 1/span 2;
    grid-row: 3/span 1;
}
.shiyouji{
    grid-column: 1/span 2;
    grid-row: 4/span 1;
}
/* .shuizhuniiurou{
    grid-column: 1/span 2;
    grid-row: 5/span 1;
} */
.tangcupaigu{
    grid-column: 1/span 2;
    grid-row: 5/span 1;
}
.tudousi{
    grid-column: 1/span 2;
    grid-row: 6/span 1;
}
.lianou{
    grid-column: 1/span 2;
    grid-row: 7/span 1;
}
.fanqiechaodan{
    grid-column: 1/span 2;
    grid-row: 8/span 1;
}
.jianbing{
    grid-column: 1/span 2;
    grid-row: 9/span 1;
}
footer{
    background-color: #c1cbd7;
    text-align: center;
    position: relative;
    bottom:0;
    width:100%;
    text-align: center;
}
@media screen and (prefers-reduced-motion: reduce){
    .baozaifan{
        animation: none;
    }
}

@media screen and (min-width: 800px){
    a.skip{
        background: white;
        left: 0;
        padding: 6px;
        position: absolute;
        top: -40px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
      }
      
      a.skip:focus{
        top:20px;
        color: black;
        text-decoration-style: solid;
      }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    label.logo{
        color: white;
        font-size: 50px;
        line-height: 80px;
        text-align: center;
        font-weight: bold;
    }

    .recipe{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 10px;
        text-align: center;
    }

    h3 {
        padding-left:30px ;
        padding-right: 30px;
        text-align: center;
        /* font-size: 0.5em; */
    }

    .baozaifan{
        grid-column: 1/span 1;
        grid-row: 1/span 1;
        /* align-self: center;
        align-items: center; */
    }
    .baozaifan{
        transition: transform 0.5s ease-out;
    }
    .baozaifan:hover{
        transform: rotate(360deg);
    }
    .hanshidunniugu{
        grid-column: 2/span 1;
        grid-row: 1/span 1;
    }
    .hanshidunniugu{
        transition: transform 0.5s ease-out;
    }
    .hanshidunniugu:hover{
        transform: rotate(360deg);
    }
    .kaolongxia{
        grid-column: 3/span 1;
        grid-row: 1/span 1;
    }
    .kaolongxia{
        transition: transform 0.5s ease-out;
    }
    .kaolongxia:hover{
        transform: rotate(360deg);
    }
    .shiyouji{
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
    .shiyouji{
        transition: transform 0.5s ease-out;
    }
    .shiyouji:hover{
        transform: rotate(360deg);
    }
    /* .shuizhuniiurou{
        grid-column: 1/span 2;
        grid-row: 5/span 1;
    } */
    .tangcupaigu{
        grid-column: 2/span 1;
        grid-row: 2/span 1;
    }
    .tangcupaigu{
        transition: transform 0.5s ease-out;
    }
    .tangcupaigu:hover{
        transform: rotate(360deg);
    }
    .tudousi{
        grid-column: 3/span 1;
        grid-row: 2/span 1;
    }
    .tudousi{
        transition: transform 0.5s ease-out;
    }
    .tudousi:hover{
        transform: rotate(360deg);
    }
    .lianou{
        grid-column: 1/span 1;
        grid-row: 3/span 1;
    }
    .lianou{
        transition: transform 0.5s ease-out;
    }
    .lianou:hover{
        transform: rotate(360deg);
    }
    .fanqiechaodan{
        grid-column: 2/span 1;
        grid-row: 3/span 1;
    }
    .fanqiechaodan{
        transition: transform 0.5s ease-out;
    }
    .fanqiechaodan:hover{
        transform: rotate(360deg);
    }
    .jianbing{
        grid-column: 3/span 1;
        grid-row: 3/span 1;
    }
    .jianbing{
        transition: transform 0.5s ease-out;
    }
    .jianbing:hover{
        transform: rotate(360deg);
    }

}